.construction-content {

  --background: #0037a6;

  display: flex;

  justify-content: center;

  align-items: center;

}

.main-image {

  width: 100%;

  height: calc(100vh - 56px);

  object-fit: cover;

  display: block;

}