rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    // =================================
    // AUTH
    // =================================

    function isLogged() {

      return request.auth != null;

    }

    // =================================
    // CURRENT USER
    // =================================

    function currentUser() {

      return exists(
        /databases/$(database)/documents/users/$(request.auth.uid)
      )

      ?

      get(
        /databases/$(database)/documents/users/$(request.auth.uid)
      ).data

      :

      null;

    }

    // =================================
    // ROLE
    // =================================

    function currentUserRole() {

      return currentUser() != null

        ?

        currentUser().tipo

        :

        null;

    }

    // =================================
    // ADMIN
    // =================================

    function isAdmin() {

      return currentUserRole()
        == 'administrador';

    }

    // =================================
    // DIRECTIVA
    // =================================

    function isDirectiva() {

      return currentUserRole()
        == 'directiva';

    }

    // =================================
    // SOCIO
    // =================================

    function isSocio() {

      return currentUserRole()
        == 'socio';

    }

    // =================================
    // ADMIN AREA
    // =================================

    function canManageUsers() {

      return (

        isAdmin()

        ||

        isDirectiva()

      );

    }

    // =================================
    // CAN INVITE
    // =================================

    function canInvite() {

      return (

        isAdmin()

        ||

        isDirectiva()

        ||

        isSocio()

      );

    }

    // =================================
    // OWN USER
    // =================================

    function isOwnUser(userId) {

      return request.auth.uid
        == userId;

    }

    // =================================
    // USERS
    // =================================

    match /users/{userId} {

      // =============================
      // READ
      // =============================

      allow read:

      if isLogged();

      // =============================
      // CREATE
      // =============================

      allow create:

      if (

        request.auth != null

        &&

        request.auth.uid == userId

      )

  ||

          canManageUsers();

      // =============================
      // UPDATE
      // =============================

      allow update:

      if

      // ============================================
      // ADMIN / DIRECTIVA
      // ============================================

      canManageUsers()

      ||

      // ============================================
      // USER COMPLETE PROFILE
      // ============================================

      (

        isOwnUser(userId)

        &&

        resource.data.estado
          == 'pending_data'

        &&

        request.resource.data.estado
          == 'pending_approval'

      )

      ||

      // ============================================
      // USER EDIT OWN PROFILE
      // ============================================

      (

        isOwnUser(userId)

        &&

        resource.data.estado
          == 'active'

        &&

        request.resource.data.tipo
          == resource.data.tipo

        &&

        request.resource.data.estado
          == resource.data.estado

      );

      // =============================
      // DELETE
      // =============================

      allow delete:

      if isLogged()

        &&

        isAdmin();

    }

    // =================================
    // INVITED USERS
    // =================================

    match /invitedUsers/{inviteId} {

      // =============================
      // READ
      // =============================

      allow read:

      if true;

      // =============================
      // CREATE
      // =============================

      allow create:

      if isLogged()

        &&

        canInvite();

      // =============================
      // UPDATE
      // =============================

      allow update:

      if canManageUsers()

      ||

      (

        request.auth != null

        &&

        request.resource.data.usado == true

      );

      // =============================
      // DELETE
      // =============================

      allow delete:

      if canManageUsers();

    }

  }

}