rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    // =================================
    // FUNCION AUXILIAR
    // =================================

    function currentUserRole() {

      return get(
        /databases/$(database)/documents/users/$(request.auth.uid)
      ).data.tipo;

    }

    // =================================
    // USERS
    // =================================

    match /users/{userId} {

      // LEER
      allow read, write:

        if request.auth != null;

      // CREAR
      allow create:

  if request.auth != null

  && (

    // USUARIO PROPIO
    request.auth.uid
    == docId

    ||

    // ADMIN
    currentUserRole()
    == 'administrador'

    ||

    // DIRECTIVA
    currentUserRole()
    == 'directiva'

  );

      // UPDATE
      allow update:

        if request.auth != null

        && (

          // ADMIN
          currentUserRole()
          == 'administrador'

          ||

          // DIRECTIVA
          (

            currentUserRole()
            == 'directiva'

            &&

            resource.data.tipo
            != 'administrador'

          )

          ||

          // PERFIL PROPIO
          request.auth.uid
          == userId

        );

      // DELETE
      allow delete:

        if request.auth != null

        &&

        currentUserRole()
        == 'administrador';

    }

    // =================================
    // PREREGISTER
    // =================================

    match /preRegister/{docId} {

      // LECTURA PUBLICA
      allow read:

        if true;

      // CREAR
      allow create:

        if request.auth != null

        && (

          currentUserRole()
          == 'administrador'

          ||

          currentUserRole()
          == 'directiva'

          ||

          currentUserRole()
          == 'socio'

        );

      // UPDATE
      allow update:

        if request.auth != null

        && (

          currentUserRole()
          == 'administrador'

          ||

          currentUserRole()
          == 'directiva'

        );

      // DELETE
      allow delete:

        if request.auth != null

        && (

          currentUserRole()
          == 'administrador'

          ||

          currentUserRole()
          == 'directiva'

        );

    }

  }

}