rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    // =====================================
    // USERS
    // =====================================

    match /users/{userId} {

      allow read:
        if request.auth != null;

      allow create:
        if request.auth != null;

      allow update:
        if request.auth != null;

      allow delete:
        if request.auth != null;

    }

    // =====================================
    // REGISTERED USERS
    // =====================================

    match /registeredUsers/{docId} {

      allow read:
        if request.auth != null;

      allow create:
        if request.auth != null;

      allow update:
        if request.auth != null;

      allow delete:
        if false;

    }

    // =====================================
    // PREREGISTRO
    // =====================================

    match /preRegister/{docId} {

      // LEER
      allow read:
        if true;

      // CREAR
      allow create:
        if request.auth != null;

      // UPDATE
      allow update:
        if request.auth != null;

      // DELETE
      allow delete:
        if request.auth != null;

    }
  }

}