<ion-content class="change-password-content">
    <div class="background-logo">
        <img src="assets/img/escudo.png" alt="Escudo">
    </div>

    <div class="change-password-container">
        <div class="header-box">
            <div class="icon-circle">
                <ion-icon name="key-outline"></ion-icon>
            </div>
            <h2>Cambiar Contraseña</h2>
            <p *ngIf="isForced" class="alert-subtitle">
                🔒 Por seguridad, debes cambiar tu clave temporal antes de acceder a la aplicación.
            </p>
            <p *ngIf="!isForced" class="subtitle">
                Introduce tu nueva contraseña de acceso personal.
            </p>
        </div>

        <div class="form-card">
            <ion-item class="custom-input" lines="none">
                <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                <ion-input type="password" label="Nueva Contraseña" labelPlacement="floating" [(ngModel)]="newPassword"
                    placeholder="Mínimo 6 caracteres">
                    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                </ion-input>
            </ion-item>

            <ion-item class="custom-input" lines="none">
                <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
                <ion-input type="password" label="Confirmar Contraseña" labelPlacement="floating"
                    [(ngModel)]="confirmPassword" placeholder="Repite tu contraseña">
                    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                </ion-input>
            </ion-item>

            <ion-button expand="block" class="submit-btn" (click)="updatePassword()">
                Guardar y Continuar
            </ion-button>
        </div>
    </div>
</ion-content>