<div class="section-card">

  <h2 class="section-title">
    Credenciales
  </h2>

  <!-- EMAIL -->

  <ion-item class="custom-item">

    <ion-label position="stacked">
      Email *
    </ion-label>

    <ion-input type="email" [(ngModel)]="user.email">
    </ion-input>

  </ion-item>

  <!-- REPETIR EMAIL -->

  <ion-item class="custom-item">

    <ion-label position="stacked">
      Repetir Email *
    </ion-label>

    <ion-input type="email" [ngModel]="repeatEmail" (ngModelChange)="repeatEmailChange.emit($event)">
    </ion-input>

  </ion-item>

  <div class="validation success" *ngIf="emailsMatch()">

    Los emails coinciden

  </div>

  <div class="validation error" *ngIf="
      repeatEmail &&
      !emailsMatch()
    ">

    Los emails no coinciden

  </div>

  <!-- PASSWORD -->

  <ion-item class="custom-item">

    <ion-label position="stacked">
      Contraseña *
    </ion-label>

    <ion-input [type]="
    mostrarPassword
      ? 'text'
      : 'password'
  " [ngModel]="password" (ngModelChange)="
    passwordChange.emit($event)
  ">
    </ion-input>

    <ion-button fill="clear" slot="end" (click)="onTogglePassword()">

      <ion-icon [name]="
          mostrarPassword
            ? 'eye-off-outline'
            : 'eye-outline'
        ">
      </ion-icon>

    </ion-button>

  </ion-item>

  <!-- FUERZA PASSWORD -->

  <div class="password-strength" *ngIf="password">

    Seguridad:
    <span [class]="
        getPasswordStrength()
          .toLowerCase()
      ">

      {{ getPasswordStrength() }}

    </span>

  </div>

  <!-- REPETIR PASSWORD -->

  <ion-item class="custom-item">

    <ion-label position="stacked">
      Repetir Contraseña *
    </ion-label>

    <ion-input [type]="
        mostrarRepeatPassword
          ? 'text'
          : 'password'
      " [ngModel]="repeatPassword" (ngModelChange)="
        repeatPasswordChange.emit($event)
      ">
    </ion-input>

    <ion-button fill="clear" slot="end" (click)="
    onToggleRepeatPassword()
  ">

      <ion-icon [name]="
          mostrarRepeatPassword
            ? 'eye-off-outline'
            : 'eye-outline'
        ">
      </ion-icon>

    </ion-button>

  </ion-item>

  <!-- VALIDACION PASSWORD -->

  <div class="validation success" *ngIf="passwordsMatch()">

    Las contraseñas coinciden

  </div>

  <div class="validation error" *ngIf="
      repeatPassword &&
      !passwordsMatch()
    ">

    Las contraseñas no coinciden

  </div>

</div>