<div class="section-card">

  <h2>
    Membresía
  </h2>

  <div class="membership-container">

    <!-- TIPO -->

    <div class="membership-field type-field">

      <div class="membership-label">
        Tipo Usuario *
      </div>

      <ion-select interface="popover" [(ngModel)]="user.tipo" class="custom-select">

        <ion-select-option value="administrador">
          Administrador
        </ion-select-option>

        <ion-select-option value="directiva">
          Directiva
        </ion-select-option>

        <ion-select-option value="socio">
          Socio
        </ion-select-option>

        <ion-select-option value="invitado">
          Invitado
        </ion-select-option>

      </ion-select>

    </div>

    <!-- NUMERO SOCIO -->

    <div class="membership-field number-field" *ngIf="
    user.tipo === 'socio'
    ||
    user.tipo === 'directiva'
  ">

      <div class="membership-label">
        Nº Socio
      </div>

      <ion-input [(ngModel)]="user.numeroSocio">
      </ion-input>

    </div>

  </div>

</div>