<ion-app>

  @if (canShowMenu()) {
  <ion-menu contentId="main-content" type="overlay">

    <div class="menu-header-flex">
      <img src="assets/img/escudo.png" class="menu-logo-small" alt="Escudo">
      <div class="menu-title-container">
        <h2>A.C.D. Los Locos</h2>
        <p>Yo no estoy loco, yo vivo la locura</p>
      </div>
    </div>

    <ion-content class="menu-content">
      <ion-list lines="none" class="menu-main-list" data-cy="menu-main-list">

        @if (puedeVerInicio()) {
        <ion-item button (click)="navegar('/home')" data-cy="menu-item-home">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        }

        @if (puedeVerUsers() || puedeGestionarCuotas()) {
        <ion-item button (click)="menuGestionAbierto = !menuGestionAbierto" data-cy="menu-group-gestion-usuarios">
          <ion-icon name="people-outline" slot="start"></ion-icon>
          <ion-label>Gestión Usuarios</ion-label>
          <ion-icon [name]="menuGestionAbierto ? 'chevron-down' : 'chevron-forward'" slot="end"
            class="menu-chevron-icon"></ion-icon>
        </ion-item>

        @if (menuGestionAbierto) {
        <div class="custom-submenu-box">

          @if (puedeVerUsers()) {
          <ion-item button (click)="navegar('/gest-user')" data-cy="menu-item-gest-user" class="submenu-item">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Listado de Usuarios</ion-label>
          </ion-item>
          }

          @if (puedeGestionarCuotas()) {
          <ion-item button (click)="navegar('/mantenimiento-cuotas')" data-cy="menu-item-mantenimiento-cuotas"
            class="submenu-item">
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <ion-label>Cuotas</ion-label>
          </ion-item>
          }

        </div>
        }
        }

        @if (puedeVerEventos()) {
        <ion-item button (click)="navegar('/events')" data-cy="menu-item-events">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>Eventos</ion-label>
        </ion-item>
        }

        @if (puedeInvitar()) {
        <ion-item button (click)="navegar('/invite')" data-cy="menu-item-invite">
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          <ion-label>Invitar</ion-label>
        </ion-item>
        }

        @if (puedeVerPasesEventos() || puedeEscanearEventos()) {
        <div class="menu-separator"></div>
        }

        <ion-list lines="none">
          @if (puedeVerPasesEventos()) {
          <ion-item button (click)="navegar('/user-passes')" style="cursor: pointer;">
            <ion-icon slot="start" name="ticket-outline"></ion-icon>
            <ion-label>Mis Pases Digitales</ion-label>
          </ion-item>
          }

          @if (puedeEscanearEventos()) {
          <ion-item button (click)="navegar('/event-scan')" style="cursor: pointer;">
            <ion-icon slot="start" name="scan-outline"></ion-icon>
            <ion-label>Portería / Control</ion-label>
          </ion-item>
          }
        </ion-list>

        <div class="menu-separator"></div>

        <ion-item button (click)="logout()" class="menu-item-logout" data-cy="menu-item-logout">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>

    <div class="menu-footer-clean">
      <p>Versión 1.0.0</p>
    </div>

  </ion-menu>
  }

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>

</ion-app>