<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button defaultHref="/gest-user">
      </ion-back-button>

    </ion-buttons>

    <ion-title>

      {{ isEditMode ? 'Editar Usuario' : 'Alta Usuario' }}

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="detail-content">

  <!-- LOGO -->

  <div class="background-logo">

    <img src="assets/img/escudo.png" alt="Escudo">

  </div>

  <!-- CONTENIDO -->

  <div class="detail-container">

    <!-- PERSONAL -->

    <app-personal-data-form [user]="user" [imageChangedEvent]="imageChangedEvent" [croppedImage]="croppedImage"
      [mostrarCropper]="mostrarCropper" (selectPhoto)="selectPhoto()" (takePhoto)="takePhoto()"
      (imageCropped)="imageCropped($event)" (applyCropper)="applyCropper()" (cancelCropper)="cancelCropper()">

    </app-personal-data-form>

    <!-- MEMBERSHIP -->

    <app-membership-form [user]="user" [tiposDisponibles]="tiposDisponibles">

    </app-membership-form>

    <!-- CREDENTIALS -->

    <app-credentials-form [user]="user" [repeatEmail]="repeatEmail" [password]="password"
      [repeatPassword]="repeatPassword" (repeatEmailChange)="repeatEmail = $event" (passwordChange)="password = $event"
      (repeatPasswordChange)="repeatPassword = $event">

    </app-credentials-form>

    <!-- BOTON -->

    <ion-button expand="block" class="main-button" (click)="save()">

      <ion-icon slot="start" name="save-outline">
      </ion-icon>

      {{ isEditMode
      ? 'Actualizar Usuario'
      : 'Crear Usuario'
      }}

    </ion-button>

  </div>

</ion-content>