<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-menu-button>
      </ion-menu-button>

    </ion-buttons>

    <ion-title>
      Inicio
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content fullscreen="true" class="home-content">

  <!-- CONTENIDO -->
  <div class="home-container">

    <!-- TITULO -->
    <div class="home-title">

      <h1>
        A.C.D. Los Locos
      </h1>

    </div>

    <!-- ESCUDO -->
    <div class="logo-container">

      <img src="assets/img/escudo.png" class="main-logo">

    </div>

    <!-- ================================= -->
    <!-- REGISTERED USER -->
    <!-- ================================= -->

    <div *ngIf="isRegisteredUser()">

      <div class="registered-box">

        <h2>
          Cuenta pendiente de validación
        </h2>

        <p>

          Tu cuenta aún no pertenece
          oficialmente a la asociación.

        </p>

        <p>

          Complete sus datos y espere
          validación por parte de la directiva.

        </p>

        <ion-button expand="block" routerLink="/user-detail">

          Completar perfil

        </ion-button>

      </div>

    </div>

    <!-- ================================= -->
    <!-- USERS -->
    <!-- ================================= -->

    <div class="cards-container" *ngIf="!isRegisteredUser()">

      <!-- USUARIOS -->
      <div class="menu-card" routerLink="/gest-user">

        <ion-icon name="people-outline">
        </ion-icon>

        <h2>
          Usuarios
        </h2>

      </div>

      <!-- ESTADISTICAS -->
      <div class="menu-card" routerLink="/stats">

        <ion-icon name="stats-chart-outline">
        </ion-icon>

        <h2>
          Estadísticas
        </h2>

      </div>

      <!-- EVENTOS -->
      <div class="menu-card" routerLink="/events">

        <ion-icon name="calendar-outline">
        </ion-icon>

        <h2>
          Eventos
        </h2>

      </div>

    </div>

  </div>

</ion-content>