<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Invitar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="invite-content">
  <div class="background-logo">
    <img src="assets/img/escudo.png" alt="Escudo">
  </div>

  <div class="invite-container">
    <div class="invite-box">
      <ion-icon name="mail-open-outline" class="header-icon"></ion-icon>
      <h2>Enviar Invitación</h2>
      <p>El correo introducido podrá registrarse en la aplicación.</p>

      <ion-item lines="none">
        <ion-input 
          label="Correo electrónico" 
          labelPlacement="floating" 
          type="email" 
          [(ngModel)]="email"
          placeholder="ejemplo@correo.com">
        </ion-input>
      </ion-item>

      <div class="button-section">
        <ion-button expand="block" class="main-button" [disabled]="cargando" (click)="invitar()">
          {{ cargando ? 'Procesando...' : 'ENVIAR INVITACIÓN' }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>