<app-page-header title="Invitar Usuario" [showMenu]="true" [showBack]="true" backUrl="/home" data-cy="page-header">

</app-page-header>

<ion-content fullscreen="true" class="invite-content" data-cy="invite-content-page">

  <div class="background-logo">

    <img src="assets/img/escudo.png" alt="Escudo">

  </div>

  <div class="invite-container">

    <div class="invite-box">

      <ion-icon name="mail-open-outline" class="header-icon">

      </ion-icon>

      <h2>

        Enviar Invitación

      </h2>

      <p>

        El correo introducido podrá registrarse en la aplicación.

      </p>

      <ion-item lines="none">

        <ion-input label="Correo electrónico" labelPlacement="floating" type="email" [(ngModel)]="email"
          placeholder="ejemplo@correo.com" data-cy="input-invite-email">

        </ion-input>

      </ion-item>

      <div class="button-section">

        <ion-button expand="block" class="main-button" (click)="invitar()" data-cy="btn-send-invite">

          ENVIAR INVITACIÓN

        </ion-button>

      </div>

    </div>

  </div>

</ion-content>